.list-component {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
}
.list-search-bar{
	background:#fff;
	display: flex;
	position: relative;
	input{
		line-height: 50px;
		flex: 1;
		border: 0;
		background:transparent url("../../images/magnifier-icon-2x.png") no-repeat 20px center;
		background-size: 20px 20px;
		padding: 0 20px 0 60px;
		text-align: center;
		outline: none !important;
		color: #727272;
		&:focus{
			text-align: left;
			&::-webkit-input-placeholder {
				color: #727272;
				text-indent: -60px
			}
		}
		&::-webkit-input-placeholder {
			color: #727272;
			text-indent: -40px
		}
	}
}
.list-container{
	font-size: 14px;
	margin: 0;
	padding: 10px 0;
	position: absolute;
	top: 50px;
	right: 0;
	bottom: 0;
	left: 0;
	overflow: scroll;
	li {
		line-height: 1.5;
		background: #f9f9f9;
		border-bottom: 1px solid #d8d8d8;
		padding: 10px 20px;
		overflow: hidden;
		text-overflow: ellipsis;
		strong{
			color: hsl(200, 80%, 50%);
		}
		a{
			color: #4a4a4a;
			display: block;
			text-decoration: none;
		}
	}
}
.list-loading{
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background: #f9f9f9;
	display: flex;
	align-items: center;
	justify-content: center;
}