.list-component {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	&.router-transition-enter {
	  transform: translateX(-100%);
	  will-change: transform;
	}

	&.router-transition-enter.router-transition-enter-active {
	  transform: translateX(0);
	  transition: transform 200ms linear;
	  will-change: transform;
	}

	&.router-transition-leave {
	  transform: translateX(0);
	  will-change: transform;
	}

	&.router-transition-leave.router-transition-leave-active {
	  transform: translateX(-100%);
	  transition: transform 200ms linear;
	  will-change: transform;
	}
}
.list-search-bar{
	background:#fff;
	display: flex;
	position: relative;
	input{
		line-height: 50px;
		flex: 1;
		border: 0;
		background:transparent url("../../images/magnifier-icon-2x.png") no-repeat 20px center;
		background-size: 20px 20px;
		padding: 0 20px 0 60px;
		text-align: left;
		outline: none !important;
		color: #727272;
		&:focus{
			text-align: left;
			&::-webkit-input-placeholder {
				color: #727272;
				text-indent: -2000px
			}
		}
		&::-webkit-input-placeholder {
			color: #727272;
			text-align: center;
			text-indent: -40px
		}
	}
}
.list-container{
	font-size: 14px;
	margin: 0;
	padding: 10px 20px;
	position: absolute;
	top: 50px;
	right: 0;
	bottom: 0;
	left: 0;
	overflow: scroll;
	li {
		line-height: 1.5;
		background: #f9f9f9;
		border-bottom: 1px solid #d8d8d8;
		padding: 10px 0;
		overflow: hidden;
		text-overflow: ellipsis;
		a{
			color: #4a4a4a;
			display: block;
			text-decoration: none;
		}
	}
	li.list-more{
		border-color: transparent;
		line-height: 1.2;
		color: #d8d8d8;
		text-align: center;
		font-size: 12px;
	}
	.inner-loading{
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		margin: auto;
		width: 80px;
		height: 80px;
		background: rgba(0,0,0,.2);
		border-radius: 8px;
		display: flex;
		align-items: center;
		justify-content: center;
	}
}
.list-loading{
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background: #f9f9f9;
	display: flex;
	align-items: center;
	justify-content: center;
}